<div class="row">
  <div class="col-md-4">
    <h2>Users Dashboard</h2>
  </div>
  <div class="col-md-8">
    <a href="/users" class="btn btn-danger pull-right"><i class="glyphicon glyphicon-user glyphicon-white"></i> View user list</a>
  </div>
</div>

